body{
	mergin:0;
	background-color: #ffffff;
}


.txt{
	width: 25%;
	float: left;
	font-family: "宋体";
	display: flex;
	align-items: center;
	justify-content: center;
}
.num{
	width: 25%;
	float: left;
	font-size: 1.25rem;
	color: gold;
	display: flex;
	align-items: center;
	justify-content: center;
}